<section class="intro">
  <div class="container">
    <p class="lead">
    Hi, I'm Arvind —
	<br /><br />
	I am an M.S. student in Computer Science at Georgia Institute of Technology. I received my B.Tech. in Information Technology from College of Engineering, Guindy in 2016.
	<br /><br />
	My primary research interests include artificial intelligence and machine learning as applied to creative media, including image and video processing and natural language understanding. I am also interested in how AI, data science, and computing can be used for social good.
	<br /><br />
	Previously I spent 3 years at Adobe, developing ML infrastructure for data scientists as well as providing machine learning based solutions as API services for different problems across the company.
	</p>
  </div>
</section>
